<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/26e2f522d0.js" crossorigin="anonymous"></script>
</head>
<body>
   
    <div class="container">
        <h2 class="title">URL Shortener</h2>

        <form action="/shortUrls" method="post" class="form-input">
            <label for="fullUrl">URL</label>
            <input type="url" name="fullUrl" id="fullUrl" size="100" placeholder="http://google.com...">
            <button type="submit" class="btn add-btn">Add URL</button>
            
        </form>

        <table>
            <thead>
                <tr>
                    <th>full URL</th>
                    <th>Shortened URL</th>
                    <th>Count Clicks</th>
                    <th>Last Time Visited</th>
                </tr>
            </thead>

            <tbody class="table-body">
                <% shortUrls.forEach((shortUrl) => { %>
                <tr>
                    
                    <td ><a href="<%= shortUrl.fullUrl %>"><%= shortUrl.fullUrl %></a></td>
                    <td class="short-url-btn btn-upd btn" ><a  href="<%= shortUrl.short %>" target="_blank"><%= shortUrl.short %></a></td>
                    <td ><%= shortUrl.countClicks %></td>
                    <td ><%= shortUrl.lastDateClicked.toUTCString() || '' %></td>
                
                    <td>
                    <button class="btn-delete btn">Delete</button>
                    <button class="btn-update btn">Update</button>
                    </td>

                </tr>
               <% }) %> 
                
            </tbody>
        </table>

        <div class="btns">
            <% if(prevPage > 0) { %> 
            <a class="prev-page-btn btn" href="/?page=<%= prevPage %>">Previous Page</a>
            <% } %> 
            <a class="next-page-btn btn" href="/?page=<%= nextPage %>">Next Page</a>
        </div>

        <p class="update-info">Enter new URL here and click Update on the selected row</p>
            <div class="update-fields">
            <label for="fullUrl2">Update Existing URL</label>
            
            <input type="url" name="fullUrl2" id="fullUrl2" size="100" placeholder="http://youtube.com...">
            </div>
            
        

    </div>
    <script src="dom.js"></script>
</body>
</html>